<div class="form-box">
    <h2>Invoice</h2>
    <form >
        <label for="stranka">Izberi Stranko</label>
        <select></select>
        <label for="racunDatum">Datum izstavljanja</label>
        <input />
        <label for="vnosRacuna">Artikli</label>
        <h1 class="mt-4">Seznam Racunov</h1>
        <div class="table-responsive">
            <table class="table table-bordered" *ngIf="invoices$ | async as invoices;">
                <thead class="table-header table-secondary">
                    <tr>
                        <th tabindex="0" class="clickable col-2 col-md-1">#</th>
                        <th tabindex="0" class="clickable col-2 col-md-1">Artikel id</th>
                        <th tabindex="0" class="clickable col-4 col-md-3">Naziv</th>
                        <th tabindex="0" class="col-2 col-md-2">Kolicina</th>
                        <th tabindex="0" class="col-12 col-md-3">Cena</th>
                      </tr>
                </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>

    </form>
    export interface Racun 
    id: number;
    dateOfCreation: Date;
    znesek: number;
    orgId: number;
    strankaId: number;
    artikelId: number;
</div>
