<div class="container"> 
  <button class="btn btn-link mb-3" (click)="navigateToRoot()">Prekini</button>

  <h2 class="mb-4">{{ invoice.id > -1 ? 'Uredi' : 'Dodaj' }} Racun</h2>

  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmitInvoiceForm()">
    <div class="mb-3">
      <label for="clientId" class="form-label">Izberite stranko:</label>
      <input
        id="customerFilter"
        class="form-control"
        [(ngModel)]="selectedCustomerName"
        [typeahead]="customers"
        [typeaheadOptionField]="'name'"
        (typeaheadOnSelect)="onCustomerSelect($event)"
        placeholder="Select a customer..."
      />

    </div>

    <div class="mb-3">
      <label for="dateOfCreation" class="form-label">Datum izstavljanja:</label>
      <input class="form-control m-input pl-6" type="date" 
      [min]="todayDate" formControlName="dateOfCreation" id="dateOfCreation" class="form-control">
    </div>
  </form>

  <hr class="my-4">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>ID Artikla</th>
            <th>Ime Artikla</th>
            <th>Kvantiteta</th>
            <th>Cena</th>
            <th></th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let line of lineItems$ | async; let i = index">
              <td>{{ i + 1 }}</td>
              <ng-container *ngIf="editedLineItemIndex !== i; else editMode">
                <td>{{ artikli[line.articleId - 1].id }}</td>
                <td>{{ artikli[line.articleId - 1].name }}</td>
                <td>{{ line.quantity }}</td>
                <td>{{ artikli[line.articleId - 1].price }}€</td>
              </ng-container>
              <ng-template #editMode>
                <td>{{line.articleId}}</td>
                <td>  
                  <select [(ngModel)]="line.articleId" name="articleIdEdit" id="articleIdEdit" class="form-select" style="width: 100%;">
                    <option *ngFor="let article of artikli" [value]="article.id" [disabled]="isArtikelAlreadySelected(article.id)">
                      {{ article.name }}
                      <span *ngIf="isArtikelAlreadySelected(article.id) && article.id != invoice.id"> (article že vnesen v ta racun) </span>
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number" min="1" [(ngModel)]="line.quantity" name="quantityEdit" style="width: 100%;">
                  <div *ngIf="lineItemForm.get('quantityEdit')?.invalid && lineItemForm.get('quantityEdit')?.touched" class="text-danger">
                    Prosim vnesite vsaj 1  
                  </div>
                </td>
                <td>
                  Ureja se
                </td>
                <td>
                  <button class="btn btn-success me-2" (click)="saveEditedLineItem(line)">Shrani</button>
                </td>
              </ng-template>
              
                    <td>
                <button *ngIf="editedLineItemIndex === -1" class="btn btn-primary me-2" (click)="startEditingLineItem(i)">Uredi vrstico</button>
                <!-- Add other buttons or actions here as needed -->
              </td>
            </tr>  
            <tr class="total-cost mt-4">Skupna Cena: {{ totalCost }} €
            </tr>        
        </tbody>      
      </table>
    </div>


  <h3 class="mt-4">{{ invoice.id > -1 ? 'Dodaj' : 'Uredi' }} vrstico</h3>

  <form [formGroup]="lineItemForm" (ngSubmit)="onLineItemSubmit()">
    <div class="mb-3 form-group">
      <label for="articleId" class="form-label">Izberite artikel:</label>
      <select formControlName="articleId" id="articleId" class="form-control">
        <option *ngFor="let article of artikli" [value]="article.id" [disabled]="isArtikelAlreadySelected(article.id)">
          {{ article.name }}
          <span *ngIf="isArtikelAlreadySelected(article.id) "> (Ta artikel je že vnesen v temu racunu) </span>
        </option>
        
      </select>
    </div>

    <div class="mb-3 form-group">
      <label for="quantity" class="form-label">Kvantiteta:</label>
      <input required min="1" type="number" formControlName="quantity" id="quantity" class="form-control">
      <div *ngIf="lineItemForm.get('quantity')?.invalid && lineItemForm.get('quantity')?.touched" class="text-danger">
        Prosim vnesite vsaj 1  
      </div>
    </div>
  </form>
  <div class="d-flex gap-4">
    <button  (click)="onLineItemSubmit()" [disabled]="!lineItemForm.valid" class="btn btn-primary">
      {{ invoice.id > -1 ? 'Dodaj' : 'Uredi' }} Vrstico
    </button>
    <button [disabled]="invoiceForm.invalid" type="submit" (click)="onSubmitInvoiceForm()" class="btn btn-primary">
      {{ invoice.id > 0 ? 'Uredi' : 'Ustvari nov ' }} racun
    </button>
</div>
</div>
