<div class="container">
    <h1 class="mt-4">Seznam Racunov</h1>
    <button [routerLink]="['/invoiceform']" class="btn btn-primary me-2">Nov Racun</button>
  
    <!-- Filter Form -->
    <form class="mb-3">
        <div class="col-md-4">
            <div class="mb-3">
              <label for="customerFilter" class="form-label">Filter by Customer:</label>
              <select id="customerFilter" class="form-select" [(ngModel)]="filterByCustomer" [ngModelOptions]="{ standalone: true }">
                <option value="">All Customers</option>
                <option *ngFor="let stranka of customers" [value]="stranka.id">{{ stranka.ime }}</option>
              </select>
            </div>
          </div>
          
          <!-- From Date -->
          <div class="col-md-4">
            <div class="mb-3">
              <label for="fromDate" class="form-label">From Date:</label>
              <input type="date" id="fromDate" class="form-control" [(ngModel)]="fromDate" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          
          <!-- To Date -->
          <div class="col-md-4">
            <div class="mb-3">
              <label for="toDate" class="form-label">To Date:</label>
              <input type="date" id="toDate" class="form-control" [(ngModel)]="toDate" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
              <div class="d-flex">
      <button type="button" class="btn btn-primary me-2" (click)="applyFilters()">Apply Filters</button>
      <button type="button" class="btn btn-secondary" (click)="clearFilters()">Clear Filters</button>
    </div>
    </form>
  
    <div class="table-responsive">
      <table class="table table-bordered" *ngIf="invoices$ | async as invoices;">
        <thead class="table-header table-secondary">
          <tr>
            <th tabindex="0" class="clickable col-2 col-md-1">#</th>
            <th tabindex="0" class="clickable col-2 col-md-1">St. organizacije</th>
            <th tabindex="0" class="clickable col-4 col-md-3">Znesek</th>
            <th tabindex="0" class="col-2 col-md-2">St. stranke</th>
            <th tabindex="0" class="clickable col-4 col-md-3">Date of Creation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices$ | async">
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.orgId }}</td>
            <td>{{ invoice.znesek }}</td>
            <td>{{ invoice.strankaId }}</td>
            <td>{{ invoice.dateOfCreation }}</td>
            <td>
              <button [routerLink]="['/invoiceform', invoice.id]" class="btn btn-primary me-2">Uredi Racun</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>